aufnahme_Fahrt_Aachen.h264
laneVideo.h264
.vscode/c_cpp_properties.json
.vscode/*
build/*
sln/*
yolo/configs/yolov4.weights
yolo/configs/yolov4.cfg
yolo/configs/yolov4-tiny.cfg
yolo/configs/yolov4-tiny.weights
yolo/configs/yolov4-kFLOAT-batch1.engine
yolo/configs/yolov4-tiny-kFLOAT-batch1.engine
yolo/configs/yolov3.cfg
yolo/configs/yolov3-tiny.cfg
