src/mot/data/aufnahme_Fahrt_Aachen.h264
src/mot/data/laneVideo.h264
.vscode/c_cpp_properties.json
.vscode/*
build/*
sln/*
src/mot/yolo/configs/yolov4.weights
src/mot/yolo/configs/yolov4.cfg
src/mot/detection/yolo/configs/yolov4-tiny.cfg
src/mot/detection/yolo/configs/yolov4-tiny.weights
src/mot/detection/yolo/configs/yolov4-kFLOAT-batch1.engine
src/mot/detection/yolo/configs/yolov4-tiny-kFLOAT-batch1.engine
src/mot/detection/yolo/configs/yolov3.cfg
src/mot/detection/yolo/configs/yolov3-tiny.cfg
src/mot/detection/yolo/configs/yolov4.weights
src/mot/tracker/deep_sort/feature/RUNNINGDATA/tensor_networks/mars-small128.ckpt-68577
src/mot/tracker/deep_sort/feature/RUNNINGDATA/tensor_networks/111.meta
